@using Model
<div class="card border-dark mb-1" id="cardBuscador">
    <div class="text-center" style="font-size:medium">
        <div class="card-body">

            <p><img class="imagenBuscador" src="@image"/></p>
            <p class="card-text"><strong>Nombre:</strong> @name</p>
            <p class="card-text"><strong>Estado:</strong> @status</p>
            <p class="card-text"><strong>Genero:</strong> @gender</p>
           
           

        </div>
    </div>
</div>

@code {
    [Parameter]
    public string name { get; set; }
    [Parameter]
    public string status { get; set; }
    [Parameter]
    public string gender { get; set; }
    [Parameter]
    public string location { get; set; }
    [Parameter]
    public string image { get; set; }
}