@inherits LayoutComponentBase
@inject NavigationManager NavigationManager;
<PageTitle>EcoMapsServer</PageTitle>


<div class="page">
    

    <main>
        
        <div class="navbar">
            <ul class="navbar-nav" style="display:inline">
                <li class="nav-item">
                    <a style="color:white" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a style="color:white" href="/mapa">Mapa</a>
                </li>
                <li class="nav-item">
                    <a style="color:white" href="/rickmorty">Rick & Morty</a>
                </li>
                <!-- Agrega más elementos de menú según tus necesidades -->
            </ul>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    
    private void RedirectToUrl()
    {
        NavigationManager.NavigateTo("https://drive.google.com/drive/u/1/folders/1iDM7nJza7FOt7eR9Wic_ns0Iujmk6M3K");
    }
}