@inherits LayoutComponentBase
@inject NavigationManager NavigationManager;
<PageTitle>EcoMapsServer</PageTitle>


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code{
    
    private void RedirectToUrl()
    {
        NavigationManager.NavigateTo("https://drive.google.com/drive/u/1/folders/1iDM7nJza7FOt7eR9Wic_ns0Iujmk6M3K");
    }
}