@page "/detallespersonajes/{id}"
@using Model
@inject HttpClient Client
<h3>DetallesPersonajes</h3>

@if (personajes != null)
{
    <PersonajesCard name=@personajes.name
    status=@personajes.status
    gender=@personajes.gender
    location=@personajes.location.name
    image=@personajes.image/>

}



@code {
    [Parameter]
    public string id{ get; set; }

    PersonajeUnico personajes;
    

    protected override async Task OnInitializedAsync()
    {
        personajes = await Client.GetFromJsonAsync<PersonajeUnico>(Endpoints.GetPersonajesId(id));
        
    }
}
