@page "/rickmorty"
@using Model
@inject HttpClient Client
<button class="botonPersonajes" type="button" @onclick=SinBuscador>Personajes</button>
<button type="button" class="botonPersonajes" @onclick=ConBuscador>Buscador Personajes</button>
<button class="botonPersonajes" type="button" @onclick=ConSelect>Select Personajes</button>

@if (sinBuscador == true)
{
    <h3 class="tituloPersonajes">Personajes</h3>
    <table>
        @if (personajesModel != null)
        {
            <tr>
                <th>Nombre</th>
                <th class="imagenPersonajesTH">Imagen</th>
            </tr>
            foreach (var item in personajesModel.results.Skip(contador * 4).Take(4))
            {


                <tr>
                    <td>@item.name</td>
                    <td><a href="/detallespersonajes/@item.id"><img src="@item.image" class="imagenPersonajes" /></a></td>
                </tr>

            }

        }
    </table>
    <button type="button" class="btn btn-outline-primary" @onclick=Anterior style="margin-top:2%">Anterior</button>
    <button type="button" class="btn btn-outline-primary" @onclick=Siguiente style="margin-top:2%;margin-left:1%">Siguiente</button>
}

@if (conBuscador == true)
{
    
    <div class="inputBuscador">
    <input type="text" @bind="@name" placeholder="Personaje"/>
    <button class="btn btn-outline-primary" @onclick="PersonajeNombre">Buscar</button>
    </div>
    <div class="resultadosBusqueda">
    @if (personajesModel2 != null)
    {
        foreach(var item in personajesModel2.results)
        {
                <BuscadorCard name=@item.name
                    status=@item.status
                    gender=@item.gender
                    image=@item.image />
        }
    }
    </div>
    
}

@if (conSelect == true)
{
    
    <h3 class="selectLocations">Select Status</h3>
    <div class="inputSelect">
    <select @bind="@status">
        <option>Alive</option>
        <option>Dead</option>
        <option>Unknown</option>
    </select>
    <button class="btn btn-outline-primary" @onclick="SearchStatus">Buscar</button>
    </div>
    <div class="resultadosBusquedaSelect">
    @if(personajesModel!=null){
        foreach(var item in personajesModel.results){
             <BuscadorCard name=@item.name
                    status=@item.status
                    gender=@item.gender
                    image=@item.image />
        }
    }
    </div>
}
   




@code {
    bool sinBuscador = false;
    bool conBuscador = false;
    bool conSelect = false;
    public int contador = 0;
    public int contador1 = 1;
    string name;
    string status;
    private string searchTerm="";
    
    PersonajesModel personajesModel;
    PersonajesModel personajesModel2;
    List<Location> localizacion = new List<Location>();
    List<string> status1=new List<string>();
    protected override async Task OnInitializedAsync()
    {
        personajesModel = await Client.GetFromJsonAsync<PersonajesModel>(Endpoints.GetAllPersonajes());
    }
    //Botones siguiente y anterior para la paginacion
    void Anterior()
    {
        if (contador == 0)
        {
            return;
        }
        else
        {
            contador--;
        }
    }
    void Siguiente()
    {
        if (contador == 4)
        {
            return;
        }
        else
        {
            contador++;
        }
    }
    //Funciones para mostrar y ocultar contenido en la misma ventana
    void SinBuscador()
    {
        sinBuscador = true;
        conBuscador = false;
        conSelect = false;
    }
    void ConBuscador()
    {
        sinBuscador = false;
        conSelect = false;
        conBuscador = true;
    }
    void ConSelect()
    {
        sinBuscador = false;
        conBuscador = false;
        conSelect = true;
        

    }
    //Buscar personaje por nombre
    async Task PersonajeNombre()
    {
        personajesModel2 = await Client.GetFromJsonAsync<PersonajesModel>(Endpoints.GetPersonajesByName(name));
    }
    //Buscar Personaje por estado
    async Task SearchStatus(){
        personajesModel = await Client.GetFromJsonAsync<PersonajesModel>(Endpoints.GetStatusPersonajes(status));
    }
}

